spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: msvc-products
              uri: lb://msvc-products
              predicates:
                - Path=/api/products/**
              filters:
                - StripPrefix=2
                - name: ProductCookieName
                  args:
                    message: "Custom message for products microservice"
                    name: user
                    value: Anthonny
            - id: msvc-items
              uri: lb://msvc-items
              predicates:
                - Path=/api/items/**
              filters:
                - StripPrefix=2